.nav{
    height: 5rem;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-color: white;
}

.searchCont{
    padding: 5px;
    border-radius: 13px;
    cursor: pointer;
    border: 2px solid black;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchCont>input{
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
}

.actionCont{
    display: flex;
    padding: 10px;
    gap: 12px;
}

.filter{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.filter>*{
    font-size: 19px;
    background-color: grey;
    padding: 10px;
    border-radius: 13px;
    cursor: pointer;
    color: white;
}

.active{
    background-color: black;
}

.auth{
    margin-left: 20px;
    background-color: darkslategray;
}

.addBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    background-color: transparent;
}