.nav{
    background-color: rgb(205, 170, 215);
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.filter{
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 9px;
}

.filter>*{
    color: white;
    margin: 5px;
    background-color: rgb(110, 21, 205);
    padding: 10px;
    border-radius: 9px;
}

.active{
    background-color: rgb(54, 4, 112);
    border: 2px solid white;

}

.auth{
    padding: 8px;
    margin-left: 10px;
    background-color: rgb(125, 95, 160);
    border-radius: 9px;
    color: white;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.auth:active{
    transform: scale(0.9);
}

.title{
    margin-right: auto;
    color: rgb(199, 255, 16);
}